name: Discord Notify

on:
  push:

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout full history
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Send push info to Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          BRANCH="${GITHUB_REF#refs/heads/}"

          COMMIT_COUNT=$(jq length <<< '${{ toJson(github.event.commits) }}')

          COMMITS=$(git log -${COMMIT_COUNT} --pretty=format:"%h: %s - %an")

          curl -H "Content-Type: application/json" \
          -d "{
            \"content\": \"[${{ github.repository }}] ${{ github.actor }} pushed ${COMMIT_COUNT} commit(s) to ${BRANCH}:\n${COMMITS}\"
          }" \
          $DISCORD_WEBHOOK
